body
{ 
	min-width: 1000px;
	margin: 0;
	padding: 0;
	background: url(/images/index_bg.png) repeat;
	font: 100%/1.4 "Open Sans", sans-serif;
	font-size: 14px;
	text-align: center;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #19b5ef;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #19b5ef;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #27C22F;
	text-decoration: none;
}

p b
{
	color: #19b5ef;
}

.bannerbg
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 364px;
	background: #FFA75C;
	z-index: -1;
	opacity: 0.5;
	border-bottom: 1px solid #7D8287;
}

.logo
{
	margin: 0 auto;
	height: 95px;
	width: 272px;
	background: url(/images/index_logo2.png) no-repeat 0 0;
	position: relative;
	display: block;
	/*border-bottom: 5px ridge #666;*/
}

.container{
	width: 990px;
	height: 470px;
	margin: 20px auto 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	text-align:center;
	position: relative;
	display: block;
}

.container_left
{
	width: 275px;
	height: 430px;
	display: block;
	float: left;
	border-radius:10px;
	box-shadow: 0px 0px 6px #777;
	background:#FFF;
	padding: 15px 20px 15px 20px;
}

.container_right
{
	width: 656px;
	height: 450px;
	display: block;
	float: right;
	border-radius:10px;
	box-shadow: 0px 0px 6px #777;
	background:#FFF;
	padding-top: 10px;
}

.login
{
	width: 230px;
	margin: 8px auto 0 auto;
	padding: 0;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	/*color: #3176a2;*/
	color: #333;
	position: relative;
	text-align: left;
}

.enter_button
{
	width: 100px;
	height: 38px;
	margin: 0;
	padding: 0;
	background: url(/images/index_login.png) 0 0 no-repeat;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0px 0px 3px #999;
	display: inline-block;
}
.enter_button:hover{background-position: 0px -38px}
.enter_button:active{background-position: 0px -76px}

.signup_button
{
	width: 100px;
	height: 38px;
	margin: 0;
	padding: 0;
	background: url(/images/index_signup.png) 0 0 no-repeat;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0px 0px 3px #999;
}
.signup_button:hover{background-position: 0px -38px}
.signup_button:active{background-position: 0px -76px}

#top_mail
{
	float: right;
}

.custominput
{
	width:210px; 
	height:22px; 
	padding: 5px;
	margin: 10px auto 22px auto;
	font-size:18px;
	border-radius:8px;
	border:2px solid #444;
	box-shadow:2px 2px 10px #BBB inset;
	outline: none;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	background: #fbfefe;
}

.custominput:focus
{
	box-shadow:2px 2px 5px #CCC inset, 0px 0px 7px #286AAA;
	-moz-box-shadow:2px 2px 5px #CCC inset, 0px 0px 7px #286AAA;
	-webkit-box-shadow:2px 2px 5px #CCC inset, 0px 0px 7px #286AAA;
}

.customtextarea
{
	height: 150px;
	width: 250px;
	padding: 5px;
	font-size:18px;
	border-radius:8px;
	border:2px solid #444;
	box-shadow:2px 2px 10px #BBB inset;
	outline: none;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	background: #fbfefe;
}

#contact_email
{
	margin: 0;
}
#contact_subject
{
	margin: 0;
}#contact_message
{
	margin: 0;
}

.container_left_bottom
{
	display: block;
	margin: 28px auto 0 auto;
	height: 120px;
	width: 230px;
	text-align: left;
	color: #666;
}

.sm_links
{
	margin: 32px auto 0 auto;
	height: 120px;
	width: 600px;
	display: block;
}

.sm_caption
{
	width: 300px;
	display: block;
	float: left;
	text-align: left;
	font-size: 18px;
}

.sm_buttons
{
	margin-top: 8px;
	width: 300px;
	display: block;
	float: right;
}

.fb_button
{
	height: 65px;
	width: 65px;
	margin-left: 15px;
	display: inline-block;
	background: url(/images/button_fb.png) 0 0 no-repeat;
	float: right;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0px 0px 3px #999;
}
.fb_button:hover{background-position: 0px -65px}
.fb_button:active{background-position: 0px -130px}

.twitter_button
{
	height: 65px;
	width: 65px;
	margin-left: 15px;
	display: inline-block;
	background: url(/images/button_twitter.png) 0 0 no-repeat;
	float: right;
	border-radius: 8px;
	box-shadow: 0px 0px 3px #999;
}
.twitter_button:hover{background-position: 0px -65px}
.twitter_button:active{background-position: 0px -130px}

.tumblr_button
{
	height: 65px;
	width: 65px;
	margin-left: 15px;
	display: inline-block;
	background: url(/images/button_tumblr.png) 0 0 no-repeat;
	float: right;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0px 0px 3px #999;
}
.tumblr_button:hover{background-position: 0px -65px}
.tumblr_button:active{background-position: 0px -130px}

.tagline
{
	margin: 20px auto;
	padding: 25px 0;
	width: 990px;
	height: 68px;
	background: #19b5ef;
	color: #FFF;
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
	box-shadow: 0px 25px 50px #61CBF2 inset, 0px 8px 23px #BBB;
	text-align: center;
	border-radius: 10px;
}

.container2
{
	margin: 0 auto 0 auto;
	width: 800px;
	height: 120px;
	position: relative;
	padding: 15px 95px 15px 95px;
	/*box-shadow: 0px 4px 6px #777;*/
	border-bottom: 3px ridge #DDD;
	border-radius: 10px 10px 0 0;
	z-index: 1 !important;
	overflow: hidden;
}

.container2_left
{
	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 290px;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 8px 23px #BBB;
	text-align: center;
}

.container2_right
{
	position: absolute;
	top: 0;
	right: 0;
	width: 360px;
	height: 290px;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 8px 23px #BBB;
	text-align: center;
}

a img {border: none; }

.scrollbox
{
	margin: 0 auto 0 auto;
	display: block;
	position:relative;
	overflow:hidden;
	width: 656px;
	height: 280px;
	/*background: #19b5ef;*/
	border-radius: 10px 10px 0 0;
	/*box-shadow: 0px 5px 10px #61CBF2 inset, 0px 0px 23px #BBB;*/
	/*box-shadow: 0px 0px 10px #777;*/
}

/* root element for horizontal scrollables */
.scrollable {
	width:656px;
	height:280px;
	display: block;
	overflow: hidden;
	position: relative;
	/*margin: 25px;*/
	border-radius: 10px 10px 0 0;
	/*box-shadow: 0px 0px 12px #FFF;*/
}

/* root element for scrollable items */
.scrollable .items {
width:20000em;
position:absolute;
clear:both;
}

/* single scrollable item */
.item {
float:left;
width:656px;
height:280px;
background: #FFF;
border-radius: 10px 10px 0 0;
overflow: hidden;
font-family: georgia, serif;
font-size: 18px;
position: relative;
white-space: pre-line;
}

#slide1{background: url(/images/index_slide1.png) no-repeat 0 0;}
#slide1_text{position: absolute; text-align: center; top: 98px; padding: 15px; left: 249px; display: block; height: 130px; width: 130px; border-radius: 130px; line-height: 21px;}
#slide2{background: url(/images/index_slide2.png) no-repeat 0 0;}
#slide2_text{position: absolute; text-align: left; top: 145px; left: 28px; display: block; height: 100px; width: 320px; line-height: 25px;}
#slide3{background: url(/images/index_slide3.png) no-repeat 0 0;}
#slide3_text{position: absolute; text-align: left; top: 140px; left: 31px; display: block; height: 100px; width: 200px; line-height: 23px;}
#slide4{background: url(/images/index_slide4.png) no-repeat 0 0;}
#slide4_text{position: absolute; text-align: left; top: 90px; left: 181px; display: block; height: 100px; width: 350px; line-height: 23px;}

/* position and dimensions of the navigator */
.navi {
	position: relative;
	display:block;
    width:656px;
    height:40px;
	padding: 0;
	/*border-top: 10px solid #19b5ef;*/
}

textarea
{
	resize: none;
}

/* items inside navigator */
.navi a {
    width:164px;
    height:25px;
	padding: 15px 0;
	margin: 0;
    float:left;
    display:block;
	cursor: pointer;
	background: #7D8287;
	color: #FFF;
	/*border-radius: 0 0 5px 5px;*/
	font-family: "Gill Sans MT", "Gill Sans", Calibri, sans-serif;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 1px 3px #4C4F52 inset;
}

.navi a:active
{
	background: #19b5ef;
	box-shadow: 0px 5px 10px #429ED6 inset;
	opacity: 1.0;
}

.navi a.active
{
	background: #19b5ef;
	/*box-shadow: 1px 5px 5px #BBB;*/
	box-shadow: 0px 5px 10px #429ED6 inset;
	opacity: 1.0;
}

.navi a:hover
{
	background: #429ED6;
	opacity: 1.0;
}

.navi a.active:hover
{
	background: #19b5ef;
	box-shadow: 0px 5px 10px #429ED6 inset;
	opacity: 1.0;
}

.container3
{
	margin: 10px auto 0 auto;
	width: 990px;
	height: 1700px;
	box-shadow: 0px 0px 6px #777;
	background: #FFF;
	border-radius:10px;
	position: relative;
}

.back_button
{
	margin-top: 7px;
	display: block;
	cursor: pointer;
	float: right;
	text-align: left;
	width: 53px;
	height: 53px;
	background: url(/images/index_toparrow.png) 0px 0px no-repeat;
	opacity: 0.4;
	border-radius: 6px;
	box-shadow: 0px 0px 3px #999;
}
.back_button:hover{background-position: 0px -53px}
.back_button:active{background-position: 0px -106px}

#main_content
{
	margin-top: 35px;
	font-size: 24px;
}

.main_content_text
{
	font-size: 16px;
	text-align: left;
	line-height: 28px;
}
.main_content_blob
{
	color: #333;
	font-size: 2.2em;
	font-family: georgia, serif;
	font-weight: 400;
	line-height: 54px;
	padding-top: 10px;
}

#mission_image
{
	margin: 20px 0 0 0;
	display: block;
	height: 145px;
	width: 180px;
	/*box-shadow: 0px 0px 6px #777;*/
	background: url(/images/index_mission.png) no-repeat 0 0;;
}

#feedback_image
{
	margin: 20px -15px 0 0;
	float: right;
	height: 145px;
	width: 240px;
	/*box-shadow: 0px 0px 6px #777;*/
	background: url(/images/index_feedback.png) no-repeat 0 0;;
}

#b_mail
{
	margin: 12px 5px 0 0;
	float: right;
}

#c_mail
{
	margin: 15px 0 0 5px;
}

#sub_content
{
	margin-top: 15px;
}

.container2_header
{
	margin: 0 auto 12px 0;
	font-family: "Open Sans", cursive;
	font-size: 24px;
	font-weight: 300;
}

.nav_button
{
	margin: 7px;
	height: 53px;
	width: 155px;
	float: left;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0px 0px 3px #999;
}

#nav1{background: url(/images/index_nav.png) 0px -159px no-repeat;}
#nav1:hover{background-position: 0px -212px}
#nav1:active{background-position: 0px -265px}
#nav1.active{background-position: 0px -265px}
#nav2{background: url(/images/index_nav.png) -155px -159px no-repeat;}
#nav2:hover{background-position: -155px -212px}
#nav2:active{background-position: -155px -265px}
#nav2.active{background-position: -155px -265px}
#nav3{background: url(/images/index_nav.png) -310px -159px no-repeat;}
#nav3:hover{background-position: -310px -212px}
#nav3:active{background-position: -310px -265px}
#nav3.active{background-position: -310px -265px}
#nav4{background: url(/images/index_nav.png) -465px -159px no-repeat;}
#nav4:hover{background-position: -465px -212px}
#nav4:active{background-position: -465px -265px}
#nav4.active{background-position: -465px -265px}

.smallimage
{
	width: 200px;
	height: 140px;
	display: block;
	border-radius: 8px;
	border: 3px solid #19b5ef;
	margin: 20px auto;
	background: url(/images/index_notify1.png);
}

#alt
{
	background: url(/images/index_notify2.png);
}

.smallcaption
{
	width: 300px;
	height: 50px;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	text-align: left;
	margin: 20px auto 0 auto;
}

.notify_button
{
	width: 113px;
	height: 36px;
	background: url(/images/index_notify.png) 0 0 no-repeat;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	border: none;
}

.notify_button:hover{background-position: 0px -36px}
.notify_button:active{background-position: 0px -72px}

.notify_form
{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

.contact_button
{
	width: 137px;
	height: 50px;
	background: url(/images/button_contact_small.png) 0 0 no-repeat;
	display: block;
	cursor: pointer;
	border: none; 
	margin: 130px auto 0 auto;
	border-radius: 4px;
	box-shadow: 0px 0px 3px #999;
}
.contact_button:hover{background-position: 0px -50px}
.contact_button:active{background-position: 0px -100px}

.warning_message
{
	display: block;
	width: 300px;
	height: 24px;
	margin: 5px 0 0 160px;
}

.overlay{
	padding:20px 20px;
	background:#FFF;
	display:none;
	z-index:99999 !important;
	border:3px solid;
	border-color: #1ab5ef;
	border-radius:10px;
	box-shadow: 0px 0px 20px #666;
	width: 400px;
}

.overlay .close{
	position:absolute;
	top:-15px; 
	right:-15px; 
	width:30px; 
	height:30px; 
	cursor:pointer; 
	background:url(../images/close.png) no-repeat
}

.overlay .close:hover{
	background-position:0 -30px;
}

.notify_box_logo
{
	display: block;
	height: 55px;
	width: 155px;
	background: url(/images/index_logo_small.png);
}

.notify_box_header
{
	display: block;
	margin: 10px auto 0 auto;
	text-align: center;
	width: 360px;
	font-size: 18px;
	font-weight: 600;
}

.notify_box_text
{
	margin: 10px auto;
	text-align: left;
	width: 360px;
}

.footer
{
	width: 990px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	display: block;
	position: relative;
}

.rights
{
	float: left;
	color: #777;
	display: inline;
	font-family: "Gill Sans MT", "Gill Sans", Calibri, sans-serif;
	margin: 8px 0 0 0;
	padding: 8px 0 0 0;
}

.lowmenu
{
	float:right;
	margin: 0;
	right: 0;
}

ul.lowmenu li
{
	display: inline;
	font-family: "Open Sans", sans-serif;
	color: #777;
	float: left;
	margin: 8px 0 0 0;
	padding: 8px 10px 8px 8px;
	/*width: 85px;*/
	font-size: 16px;
	cursor: pointer;
}

ul.lowmenu li:hover {
		color: #000;
}

.form_line
{
	margin-left: 1.5em;
	text-align: left;
	height: 42px;
}


label
{
	width: 150px;
	float: left;
	text-align: right;
	margin: 0 10px 0 0;
	padding: 0;
	display: inline-block;
}

#twitter_update_list {
width: 363px;
height: 80px;
padding: 0;
overflow: hidden;
font-family: "Open Sans", sans-serif;
font-size: 14px;
color: #31353d;
line-height: 16px;
margin-left:-13px;
margin-top: -15px;
}
#twitter_update_list li {
width: 333px;
list-style: none;
padding:15px;
}
#twitter_update_list li a {
color:#19b5ef;
text-decoration: none;
}
#twitter_update_list li a:hover {
color: #27C22F;
}