#content
{
	margin:100px auto 0 auto;
	width: 920px;
	padding: 5px 25px 10px 25px;
	background: #FFF;
	border-left: 2px solid #CCC;
	border-right: 2px solid #CCC;
}
#maintainer
{
	display: block;
	width: 960px;
	padding: 20px 0 0 10px;
	margin:0 auto;
	overflow: hidden;
	background: #FFF;
	border-left: 2px solid #CCC;
	border-right: 2px solid #CCC;
	border-top: 1px solid #CCC;
}
#tagtainer
{
	position: static;
	padding: 0px 5px;
	width: 158px;
	/*box-shadow: 0px 0px 8px 2px #999;*/
	/*background: rgba(0,0,0,0.5);*/
	opacity: 0.0;
	border-radius: 4px;
}
#tagtainer a
{
	display: block;
	width: 144px;
	margin: 0 auto 5px auto;
	height: 14px;
	background: url(../images/bg_tag.png);
	padding: 11px;
	overflow: hidden;
	box-shadow: 0px 0px 3px 2px #CCC inset;
	border: 1px solid #999;
	color: #333;
}
#tagtainer a:hover{background: #666; color: #FFF; box-shadow: 0px 0px 13px 3px #444 inset;}

#tagtainer .tagname
{
	font-family: "Merriweather";
	font-weight: 700;
	font-size: 14px;
	width: 100%;
	overflow: hidden;
	white-space:nowrap; 
	text-overflow: ellipsis;
}

#container
{
	width: 760px;
	overflow: hidden;
	padding-left: 12px;
	border-left: 1px solid #CCC;
}

/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*ISOTOPE ELEMENT PROPERTIES*/
.isotope-item{z-index:2; margin:0 0 16px 0;}
.isotope-item:hover{cursor: pointer;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{
	-webkit-transition-property:-webkit-transform,opacity;
	-moz-transition-property:-moz-transform,opacity;
	-ms-transition-property:-ms-transform,opacity;
	-o-transition-property:top,left,opacity;
	transition-property:transform,opacity;
	/* Young 07/24/2012 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}
.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}

.leader{ display: none; /*width: 100%; height: 30px; */ padding: 5px; letter-spacing: 0.2em; color: #fff; -moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 9px 15px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 9px 15px rgba(255,255,255,0.5);
	font-weight: 700}
.details{margin: 10px 12px 0; display: none; font-family: 'Open Sans', sans-serif; font-size: 14px;}
.details.visible{display: block;}
.photo .details.visible{display: none;}
#onav_wrapper{position:relative;z-index:999}html,body{height:100%}
#options{margin-top:20px}
#options ul{margin:0;list-style:none}
#options li{float:left;margin-bottom:.2em;font-family: "Lato", sans-serif;text-transform:uppercase;letter-spacing:1px;font-weight:300;font-size:18px}
#options li a{display:block;padding:5px 10px 6px 10px;background-color:#FFF;color:#333;border: 1px solid #000; border-left: none;}
#options li a.selected{background-color:#333;text-shadow:none;color:#FFF}
#options li a:hover{background-color:#555;color:#FFF;text-decoration:none}
#options li a:active{background-color:#333;color:#fc0}
#options li:first-child a{border-left:none}
.option-logo{float:left}
.option-logo h1{margin-top:10px;margin-bottom:0;letter-spacing:1px}
.option-logo .occupy{color:#fc0}
.option-combo{float:right;margin:13px 0 0 0;}
.option-combo ul{display:inline-block}
.option-def dl dt,.option-def dl dd{float:left;padding:0 1.2em;background:#161616;line-height:36px;height:36px}
.option-def dl.header dt,.option-def dl.header dd{background:#444}
.option-def dl .option-type{font-size:13px;color:#AAA;font-style:italic}
.option-def dl dd{border-left:1px solid #222}
.loader{margin:5px auto; text-align: center;} 

.title
{
	text-transform: uppercase;
	overflow: hidden;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.gradient-mask
{
	position: absolute;
	left:0; bottom: 0;
	width: 100%;
	height: 140px;
	z-index: 100 !important;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.height2 .gradient-mask
{
	height: 60px;
}
.photo .gradient-mask
{
	background: none !important;
}

/*PRIMARY SOURCE*/
.primary{float:left;overflow:hidden;position:relative; /* background: url(../images/bg_legal.png); */ color:#444;height:356px;width:356px;/*border:2px solid #ff908e; box-shadow: 0px 0px 7px #999;*/}
.primary .leader{background: #ff4f4c;}
.primary .title{font-weight:400;font-size:30px;line-height: 36px; margin:10px 12px 0; font-family: 'Old Standard TT', serif; -ms-word-break: break-word;word-break: break-word;}
.primary .details{font-family: "Lato", sans-serif; font-weight: 300; font-size: 16px; line-height: 22px;}

/*SECONDARY SOURCE*/
.secondary{float:left;overflow:hidden;position:relative; /* background: url(../images/bg_legal.png); */ color:#444;height:356px;width:356px;/*border:2px solid #f7af6c; box-shadow: 0px 0px 7px #999;*/}
.secondary .leader{
background: -moz-linear-gradient(
		top,
		#fabe45 0%,
		#f38620);
background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fabe45),
		to(#f38620));
}
.secondary .title{font-weight:700;font-size:28px;line-height: 34px; margin:10px 12px 0; font-family: 'Karla', serif; -ms-word-break: break-word;word-break: break-word;}
.secondary .details{font-family: 'PT Sans', sans-serif; font-size: 18px; line-height: 24px;}
.secondary.width2 .details{font-family: 'PT Serif', serif; font-size: 14px; line-height: 20px;}

/*NEWS SOURCE*/
.news{float:left;overflow:hidden;position:relative;color:#333;height:356px;width:356px;border: 2px dashed #CCC;background-repeat:repeat;background-image:url(../images/bg_news.png);}
.news .rating{color: #333}
.news .title{
	font-size:30px;
	line-height: 36px;
	-ms-word-break: break-word;
	word-break: break-word; 
	font-family: georgia, serif; 
	font-weight: 400;
	margin: 10px 12px 0;
}

/*IMAGE SOURCE*/
.photo{float:left;overflow:hidden;position:relative;color:#333;height:356px;width:356px;border: 1px solid #CCC;background-repeat:repeat;}
.photo img{width:100%;height:auto}
.photo .title { text-align: center; }

/*SIZE MANIPULATORS*/
.height2{height: 168px; margin:0 0 16px 0;}
.height2 .title{font-size: 24px; line-height: 30px; text-transform: none;}
.news.height2 .title{font-style: italic; font-weight: bold}
.secondary.height2 .details{font-family: "Lato", sans-serif; font-weight: 300}
.width2{width: 166px;}
.width2 .title{font-size: 22px; line-height: 28px; text-transform: none;}
.news.width2 .title{font-family: 'Merriweather', serif; font-style: normal}
.size2{width: 166px; height: 168px; margin:0 0 16px 0;}
.size2 .title{font-size: 20px; line-height: 26px; text-transform: none;}
.news.size2 .title{font-style: italic}
.primary.size2 .title{font-size: 19px; line-height: 25px}
.secondary.size2 .title{font-size: 22px; font-family: "PT Sans", sans-serif; font-weight: 400; line-height: 26px}
.supersize{width: 360px; height: 550px;}
.supersize .title{font-size: 36px; line-height: 48px; text-transform: none;}

/*ICONS*/
.icon{float: left; height: 20px; width: 20px; margin-right: 8px;}
#icon_primary{ background: url(../images/icon_court.png);}
#icon_secondary{ background: url(../images/icon_sprites.png);}
#icon_news{ background: url(../images/icon_news.png);}

/* YOUNG EDITS 07/24/2012 */
a.photo {
	position: relative;
	
	background-color: #fff;
	/*-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);*/
	z-index: 1;
}

/*

a.photo:before, a.photo:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

a.photo:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
	z-index: -1;
}

a.primary, a.secondary {
	border: 2px solid rgba(255, 0, 0, .5);
}*/

.clear {
	clear: both;
}

.color1{border: 2px solid rgba(255, 81, 76, .5);}
.color2{border: 2px solid rgba(255, 82, 89, .5);}
.color3{border: 2px solid rgba(232, 102, 56, .4);}
.color4{border: 2px solid rgba(252, 152, 69, .4);}
.color5{border: 2px solid rgba(242, 190, 85, .4);}
.color6{border: 2px solid rgba(41, 94, 82, .3);}
.color7{border: 2px solid rgba(2, 59, 71, .3);}
.color8{border: 2px solid rgba(114, 126, 130, .2);}
.color1:hover{border: 2px solid rgba(255, 81, 76, 1);}
.color2:hover{border: 2px solid rgba(255, 82, 89, 1);}
.color3:hover{border: 2px solid rgba(232, 102, 56, 1);}
.color4:hover{border: 2px solid rgba(252, 152, 69, 1);}
.color5:hover{border: 2px solid rgba(242, 190, 85, 1);}
.color6:hover{border: 2px solid rgba(41, 94, 82, 1);}
.color7:hover{border: 2px solid rgba(2, 59, 71, 1);}
.color8:hover{border: 2px solid rgba(114, 126, 130, 1);}

.news.color1{border: 2px dashed rgba(255, 81, 76, .5);}
.news.color2{border: 2px dashed rgba(255, 82, 89, .5);}
.news.color3{border: 2px dashed rgba(232, 102, 56, .4);}
.news.color4{border: 2px dashed rgba(252, 152, 69, .4);}
.news.color5{border: 2px dashed rgba(242, 190, 85, .4);}
.news.color6{border: 2px dashed rgba(41, 94, 82, .3);}
.news.color7{border: 2px dashed rgba(2, 59, 71, .3);}
.news.color8{border: 2px dashed rgba(114, 126, 130, .2);}
.news.color1:hover{border: 2px dashed rgba(255, 81, 76, 1);}
.news.color2:hover{border: 2px dashed rgba(255, 82, 89, 1);}
.news.color3:hover{border: 2px dashed rgba(232, 102, 56, 1);}
.news.color4:hover{border: 2px dashed rgba(252, 152, 69, 1);}
.news.color5:hover{border: 2px dashed rgba(242, 190, 85, 1);}
.news.color6:hover{border: 2px dashed rgba(41, 94, 82, 1);}
.news.color7:hover{border: 2px dashed rgba(2, 59, 71, 1);}
.news.color8:hover{border: 2px dashed rgba(114, 126, 130, 1);}

.primary.color1{border: 2px ridge rgba(255, 81, 76, .5);}
.primary.color2{border: 2px ridge rgba(255, 82, 89, .5);}
.primary.color3{border: 2px ridge rgba(232, 102, 56, .4);}
.primary.color4{border: 2px ridge rgba(252, 152, 69, .4);}
.primary.color5{border: 2px ridge rgba(242, 190, 85, .4);}
.primary.color6{border: 2px ridge rgba(41, 94, 82, .3);}
.primary.color7{border: 2px ridge rgba(2, 59, 71, .3);}
.primary.color8{border: 2px ridge rgba(114, 126, 130, .2);}
.primary.color1:hover{border: 2px ridge rgba(255, 81, 76, 1);}
.primary.color2:hover{border: 2px ridge rgba(255, 82, 89, 1);}
.primary.color3:hover{border: 2px ridge rgba(232, 102, 56, 1);}
.primary.color4:hover{border: 2px ridge rgba(252, 152, 69, 1);}
.primary.color5:hover{border: 2px ridge rgba(242, 190, 85, 1);}
.primary.color6:hover{border: 2px ridge rgba(41, 94, 82, 1);}
.primary.color7:hover{border: 2px ridge rgba(2, 59, 71, 1);}
.primary.color8:hover{border: 2px ridge rgba(114, 126, 130, 1);}