#view_container{margin-top: 140px; border-radius: 10px; box-shadow: 0px 0px 6px #777; background: #FFF; overflow: hidden}
.element{width: 95%; margin-left: auto; margin-right: auto;}
#element_top{margin-top: 10px;}
#element_body{ margin: 20px auto; font-family: 'Lato', Verdana, Arial, sans-serif; }
#review_buttons{ margin: 2em auto 1em; }
/*
#view_source{border-radius: 10px; height: 45px; font-size: 2em; text-align: center; background: orange; padding-top: 10px; display: block;}
#view_source:hover{background: red; cursor: pointer;}
*/
#comment_types{margin-top:10px; padding-top: 30px; border-top: 2px ridge #DDD; text-align: center;}
/*#rating_box{margin-top: 10px; display: block; height: 60px; background: gold; border-radius: 10px;}*/
#post_new{margin-top: 30px;}
#comments{margin-top: 30px;}

.link-submit-form {
margin-top: 140px;
height: 60px;
text-align: center;
width: 100%;
}

.link-submit-form:before,
.link-submit-form:after {
content: '';
display: block;	
height: 1px;
left: 50%;
margin: 0 0 0 -400px;
position: absolute;
width: 800px;
}

.link-submit-form:before {
background: #444;
background: -webkit-linear-gradient(left, #151515, #444, #151515);
background: -moz-linear-gradient(left, #151515, #444, #151515);
background: -o-linear-gradient(left, #151515, #444, #151515);
background: -ms-linear-gradient(left, #151515, #444, #151515);
background: linear-gradient(left, #151515, #444, #151515);
top: 170px;
}

.link-submit-form:after {
background: #000;
background: -webkit-linear-gradient(left, #151515, #000, #151515);	
background: -moz-linear-gradient(left, #151515, #000, #151515);	
background: -o-linear-gradient(left, #151515, #000, #151515);	
background: -ms-linear-gradient(left, #151515, #000, #151515);	
background: linear-gradient(left, #151515, #000, #151515);	
top: 172px;
}

.link-submit-form form {
background: #FFF;
background: -webkit-linear-gradient(#FCFCFC, #FFF);
background: -moz-linear-gradient(#FCFCFC, #FFF);
background: -o-linear-gradient(#FCFCFC, #FFF);
background: -ms-linear-gradient(#FCFCFC, #FFF);
background: linear-gradient(#FCFCFC, #FFF);
border: 1px solid #CCC;
border-radius: 5px;
display: inline-block;
margin: 0 auto;
padding: 10px;
position: relative;
z-index: 99;
}

.link-submit-form input#link-input {
background: #FFF;
border: 1px solid #333;
border-radius: 5px 0 0 5px;
display: block;
float: left;
font-family: 'Cabin', helvetica, arial, sans-serif;
font-size: 14px;
font-weight: 400;
height: 40px;
margin: 0;
padding: 0 10px;
width: 300px;
}

.ie .link-submit-form input#link-input {
line-height: 40px;
}

.link-submit-form input#link-input:-webkit-input-placeholder,
.link-submit-form input#link-input:-moz-placeholder {
   color: #333;
}

#link-publish a {
	display: inline-block;
	height: 22px;
    padding: 10px 0;
    width: 80px;
	margin-left: 5px;
	color: #FFF;
	background: #666;
	background: -webkit-linear-gradient(#999, #666);
	background: -moz-linear-gradient(#999, #666);
	background: -o-linear-gradient(#999, #666);
	background: -ms-linear-gradient(#999, #666);
	background: linear-gradient(#999, #666);
	border-radius: 0 5px 5px 0;
}

.link-submit-form form div.collapse {
	display: none;
	clear: both;
	font-size: 14px;
}
	.link-submit-form form div.collapse label {
		display: inline-block;
		width: 100px;
		vertical-align: top;
	}
	
	.link-submit-form form div.collapse input[type="text"],
	.link-submit-form form div.collapse textarea {
		border: 1px #333 solid;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		width: 284px;
		padding: 3px;
	}
	

div.form-input {
	text-align: left;
	clear: both;
	margin: 1em 0;
}

div.author_thumbnail {
	/* CHANGE THIS LATER WHEN YOU CODE IN THUMBNAILS */
	width: 60px;
	height: 60px;
	border-radius: 10px;
	background: url('https://twimg0-a.akamaihd.net/profile_images/2403612500/vidsspusijuq25xy1ytu_reasonably_small.jpeg');
	background-size: 60px 60px;
	float: left;
	margin: 1em 1em 0 0;
}

.element_meta {
	padding: 10px 0;
	height: 72px;
	border-bottom: 1px #333 solid;
}

.element_meta h2 { 
	margin: 0; 
}
.element_meta h2 a {
	font-size: 16px;
	text-decoration: none;
}
	.element_meta h2 a:hover { text-decoration: underline; }

.element_meta p {
	margin: 0;
	font-size: 12px;
}
	.orange { color: orange; }
	.posted { color: #999; }


#element_top h1 {
	font-family: Georgia, 'Times New Roman', serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 8px;
}
	#element_top p.tags {
		color: orange;
		font-style: italic;
		font-size: 14px;
		margin: 0;
	}

a#view_source {
	display: block;
	width: 92px;
	font-size: 16px;
	padding: 8px 14px;
	margin-left: 10px;
	text-align: center;
	width: -moz-max-content;
	background: #fabc43;
	background: -webkit-linear-gradient(#fcd079, #fabc43);
	background: -moz-linear-gradient(#fcd079, #fabc43);
	background: -o-linear-gradient(#fcd079, #fabc43);
	background: -ms-linear-gradient(#fcd079, #fabc43);
	background: linear-gradient(#fcd079, #fabc43);
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 2px #CCC;
	-webkit-box-shadow: 0 0 2px 2px #CCC;
	box-shadow: 0 0 2px 2px #CCC;
}
	a#view_source:hover {
		background: #fcd079;
		background: -webkit-linear-gradient(#fabc43, #fcd079);
		background: -moz-linear-gradient(#fabc43, #fcd079);
		background: -o-linear-gradient(#fabc43, #fcd079);
		background: -ms-linear-gradient(#fabc43, #fcd079);
		background: linear-gradient(#fabc43, #fcd079);
	}

#review_buttons p {
	font-family: Georgia, 'Times New Roman', serif;
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0;
}
	#useful_yes, #useful_no {
		display: inline-block;
		height: 40px;
		width: 85px;
		text-transform: none;
		color: #000;
		padding: 3px 0 5px 20px;
		-moz-box-shadow: 0 0 2px 2px #CCC;
		-webkit-box-shadow: 0 0 2px 2px #CCC;
		box-shadow: 0 0 2px 2px #CCC;
	}
	#useful_yes { background: url("../images/yes_button.png") no-repeat scroll 0 0 transparent;	}
	#useful_no { background: url("../images/no_button.png") no-repeat scroll 0 0 transparent; }

.clear-button { display: block; clear: both; margin: 1em 0; }
.blue-button {
	width: 110px;
	color: #FFF;
	font-size: 16px;
	padding: 8px 14px;
	width: -moz-max-content;
	background: #1bb5f0;
	background: -webkit-linear-gradient(#69cff5, #1bb5f0);
	background: -moz-linear-gradient(#69cff5, #1bb5f0);
	background: -o-linear-gradient(#69cff5, #1bb5f0);
	background: -ms-linear-gradient(#69cff5, #1bb5f0);
	background: linear-gradient(#69cff5, #1bb5f0);
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 2px #CCC;
	-webkit-box-shadow: 0 0 2px 2px #CCC;
	box-shadow: 0 0 2px 2px #CCC;
}
	.blue-button:hover {
		background: #69cff5;
		background: -webkit-linear-gradient(#1bb5f0, #69cff5);
		background: -moz-linear-gradient(#1bb5f0, #69cff5);
		background: -o-linear-gradient(#1bb5f0, #69cff5);
		background: -ms-linear-gradient(#1bb5f0, #69cff5);
		background: linear-gradient(#1bb5f0, #69cff5);
	}

#element_bottom {
	border-top: 1px #333 solid;
	margin-top: 2em;
	padding: 2em 0;
}

#comm_qa {
	text-align: center;
	height: 50px;
}
a.gray-tab {
	background: #dadbdc;
	background: -webkit-linear-gradient(#e7e8e8, #dadbdc);
	background: -moz-linear-gradient(#e7e8e8, #dadbdc);
	background: -o-linear-gradient(#e7e8e8, #dadbdc);
	background: -ms-linear-gradient(#e7e8e8, #dadbdc);
	background: linear-gradient(#e7e8e8, #dadbdc);
	font-size: 16px;
	padding: 8px 16px;
	display: inline-block;
	width: 100px;
	border-radius: 16px;
	margin: 0 1em;
}
	a.gray-tab:hover {
		background: #e7e8e8;
		background: -webkit-linear-gradient(#dadbdc, #e7e8e8);
		background: -moz-linear-gradient(#dadbdc, #e7e8e8);
		background: -o-linear-gradient(#dadbdc, #e7e8e8);
		background: -ms-linear-gradient(#dadbdc, #e7e8e8);
		background: linear-gradient(#dadbdc, #e7e8e8);
	}

#rating_box {
	background: #edb331;
	background: -webkit-linear-gradient(#f2c766, #edb331);
	background: -moz-linear-gradient(#f2c766, #edb331);
	background: -o-linear-gradient(#f2c766, #edb331);
	background: -ms-linear-gradient(#f2c766, #edb331);
	background: linear-gradient(#f2c766, #edb331);
	border: 1px #f8d73c solid;
	border-radius: 10px;
	width: 110px;
	height: 110px;
	text-align: center;
	-moz-box-shadow: 0 0 2px 2px #CCC;
	-webkit-box-shadow: 0 0 2px 2px #CCC;
	box-shadow: 0 0 2px 2px #CCC;
	margin: 1.5em 0;
}
	#rating_box p {
		margin: 10px 0 -5px;
		padding: 0;
	}
	#rating_box .rating-number {
		font-family: Georgia, 'Times New Roman', serif;
		font-size: 40px;
		margin-bottom: 10px;
	}
	
	div.rating-buttons {
		border-top: 1px #999 solid;
		padding-top: 5px;
	}
		a.rating-up,
		a.rating-down {
			display: inline-block;
			text-indent: -9999px;
			width: 50px;
			height: 20px;
		}
			a.rating-up { background: url('../images/up-arrow.gif') 13px 0 no-repeat; }
			a.rating-down { background: url('../images/down-arrow.gif') 13px 0 no-repeat; }

.social-button
{
	display: block;
	height: 28px;
	padding: 12px;
	width: 87px;
	margin: 5px 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 14px;
	text-transform: uppercase;
}
.social-button#fb_share
{
	background: -moz-linear-gradient(
		top,
		#5f80c2 0%,
		#3e6fb3 53%,
		#3e6fb3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#5f80c2),
		color-stop(0.53, #3e6fb3),
		to(#3e6fb3));
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(188,194,220,0.8);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(188,194,220,0.8);
	color: #FFF;
}
.social-button#fb_share:hover
{
	background: -moz-linear-gradient(
		top,
		#5f80c2 0%,
		#345785 75%,
		#315d96);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#5f80c2),
		color-stop(0.75, #345785),
		to(#315d96));
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(188,194,220,0.8);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(188,194,220,0.8);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(188,194,220,0.8);
}
.social-button#fb_share:active
{
	background: -moz-linear-gradient(
		top,
		#3e6fb3 0%,
		#3e6fb3 53%,
		#5f80c2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3e6fb3),
		color-stop(0.53, #3e6fb3),
		to(#5f80c2));
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px #315d96;
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px #315d96;
	color: #FFF;
}
.social-button#twitter_share
{
	background: -moz-linear-gradient(
		top,
		#5fafe1 0%,
		#257dc0);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#5fafe1),
		to(#257dc0));
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(208,232,246,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(208,232,246,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(208,232,246,0.6);
	color: #FFF;
}
.social-button#twitter_share:hover
{
	background: -moz-linear-gradient(
		top,
		#2293d4 0%,
		#0f588c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#2293d4),
		to(#0f588c));
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(208,232,246,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(208,232,246,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px rgba(208,232,246,0.6);
}
.social-button#twitter_share:active
{
	background: -moz-linear-gradient(
		top,
		#257dc0 0%,
		#5fafe1);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#257dc0),
		to(#5fafe1));
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px #0f588c;
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px #0f588c;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 10px 17px #0f588c;
	color: #FFF;
}